scheme: 'http'
host  : 'localhost'
port  : 3210

app   :
  secret: 'Zdradzę wam potworny sekret... Jestem ciasteczkowym potworem!'

site  :
  title : "Radzimy.co"
  motto : "podnosimy świadomość prawną"

mongo :
  url   : "mongodb://localhost/R20"

elasticsearch:
  host  : 'localhost:9200',
  log   : 'trace'
  apiVersion: '1.1'

auth  :
  fake  : no

participants:
  roles:
    reader:
      can   : [
        'tell a story'
      ]
    student:
      as     : 'reader'
      can    : [
        'review drafts of stories'
        'suggest a new question'
        'post an answer'
      ]
    lawyer:
      as    : 'student'
      can   : [
        'publish a question'
        'publish an answer'
      ]
    editor:
      as    : 'lawyer'
      can   : [
        'publish a story'
        'assign question to a story'
      ]
    administrator:
      can: [ 'everything' ]
