scheme: 'http'
host  : 'localhost'
port  : 3210

app   :
  secret: 'Zdradzę wam potworny sekret... Jestem ciasteczkowym potworem!'

site  :
  title : "Radzimy.co"
  motto : "podnosimy świadomość prawną"

mongo :
  url   : "mongodb://localhost/r20"

auth  :
  fake  : no

participants:
  roles:
    reader:
      can   : [
        'tell a story'
      ]
    student:
      as     : 'reader'
      can    : [
        'post questions'
        'post answers'
      ]
    lawyer:
      as    : 'student'
      can   : [
        'publish questions'
        'publish answers'
      ]
    editor:
      as    : 'lawyer'
      can   : [
        'publish stories'
      ]
    administrator:
      can: [ 'everything' ]
