scheme: 'http'
host  : 'localhost'
port  : 3210

app   :
  secret: 'Zdradzę wam potworny sekret... Jestem ciasteczkowym potworem!'

site  :
  title : "Radzimy.co"
  motto : "podnosimy świadomość prawną"

mongo :
  url   : "mongodb://localhost/r20"

auth  :
  fake  : no
