textarea
  resize          vertical

img.logo
  max-width       30%

.select2-container-multi .select2-choices
  background-image none
  

  .select2-search-choice
    margin-top      5px

  .select2-search-field input
    padding         5px 12px

// .search-result .panel-body
//   height          12em
//   overflow        hidden
